.root {
  -fx-font-family: 'DejaVu Sans';
  -fx-font-size: 12px;
}

.menu-bar {
  -fx-padding: 0px;
}
.menu-bar *.label {
  -fx-padding: 3px 5px 3px 5px;
}

#arrayHeader {
  -fx-font-size: 11px;
}
#arrayIndex {
  -fx-font-size: 8px;
}

.text-field {
  -fx-font-family: 'DejaVu Sans Mono';
}



#empty {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}
#empty:focused {
  -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
}
#emptySwapping {
  -fx-background-color: black, black, -fx-control-inner-background;
}


#comparing {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, orange;
}
#comparing:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, orange;
}


#marked {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #ffff80;
}
#marked:focused {
  -fx-background-color: -fx-focus-color, -fx-text-box-border, #ffff80;
}
#markedSwapping {
  -fx-background-color: black, black, #ffff80;
}


#selected {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00f0f0;
}
#selected:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00f0f0;
}
#selectedSwapping {
  -fx-background-color: black, black, #00f0f0;
}


#sorted {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00ff80;
}
#sorted:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00ff80;
}
#sortedSwapping {
  -fx-background-color: black, black, #00ff80;
}
