.root {
  -fx-font-family: 'DejaVu Sans';
  -fx-font-size: 12px;
}

.menu-bar {
  -fx-padding: 0px;
}
.menu-bar *.label {
  -fx-padding: 3px 5px 3px 5px;
}

#arrayHeader {
  -fx-font-size: 11px;
}
#arrayIndex {
  -fx-font-size: 8px;
}

.text-field {
  -fx-font-family: 'DejaVu Sans Mono';
}



#empty {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}
#empty:focused {
  -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
}


#comparing {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, orange;
}
#comparing:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, orange;
}


#result {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00ff80;
}
#result:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00ff80;
}


#first {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00f0f0;
}
#first:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00f0f0;
}


#second {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00c0ff;
}
#second:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00c0ff;
}

