.menu-bar {
  -fx-font-size: 12;
  -fx-padding: 0em 0.4em 0em 0.4em;
}
.menu-bar *.label {
  -fx-padding: 0.3em 0.4em 0.3em 0.4em;
}

#empty {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}
#empty:focused {
  -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
}


#marked {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #ffff80;
}
#marked:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #ffffd0;
}


#equal {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00ff80;
}
#equal:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00ff80;
}


#less {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00f0f0;
}
#less:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00f0f0;
}
#lessBegin {
  -fx-background-color: black, black, #00f0f0;
}
#lessBegin:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00f0f0;
}
#lessEnd {
  -fx-background-color: darkgreen, darkgreen, #00f0f0;
}
#lessEnd:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00f0f0;
}


#greater {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, #00c0ff;
}
#greater:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00c0ff;
}
#greaterBegin {
  -fx-background-color: black, black, #00c0ff;
}
#greaterBegin:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00c0ff;
}
#greaterEnd {
  -fx-background-color: darkgreen, darkgreen, #00c0ff;
}
#greaterEnd:focused {
  -fx-background-color: -fx-focus-color, -fx-focus-color, #00c0ff;
}